/*all i have left for mobile is to:
-I have to go back and change meta tags to be unique on each page and relavant. 
Add meta tags for twitter, and ig/tt/li/etc.

if i can/have time
-add the hidden menu and navigation for things like specific type of pizza -> maybe leave until I complete everything and either add that as a cool feature, or back up plan is to just make a cell for every item (that's not as cool, but time management) 
-make 40 year animation https://www.youtube.com/watch?v=PafZo0HqTQ4
-https://www.proglobalbusinesssolutions.com/css-hover-effects/ for ideas to implement

-make the home page clickable 
-add an about us paragraph that isn't lorem
-link color page
-link animation page

-color themes should include some combination of grays, oranges, persimmon, deep yellows fresh greens, to stimulate appetite in customes.
- i need to review animations module for the popups of information like manager info and what not

-style the nav bar to look the way i want it to look
-*make the contactUs page clickable 
-*make the menu clickable 
*/
* {
  margin: 0;
  padding: 0;
}

// @import '_animation';
// @import 'color-theme'; why isn't this working? come back to this but just move on for now and actually get some structure.

body {
  background-color:gray
}

header {
  display: inline-block;
  font-size: 3rem;
  a:link {
    color: white;
  }
  a:active {
    color: hotpink;
  }
  a:visited {
    color: yellow;
    font-weight: bold;
  }  
  img {
    width: 75px;
  }
}

main {
  iframe {
    width: 92vw;
  }
  img {
    // width: 50vw;
    height: 20vh;
  }
  color: rgb(230, 154, 15); 
  font-size: large;
  font: bold;
  text-align: center;
  padding: 1rem;
  grid-gap: 1vw;
  /*change up the code below to make it my own. all div.scrollmenu*/
  div.scrollmenu {
    background-color: yellow;
    overflow: auto;
    white-space: nowrap;
  }
  div.scrollmenu a {
    display: inline-block;
    color: red;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  div.scrollmenu a:hover {
    background-color: #777;
  }
  nav {
    font-size: 1.5rem;
    position: fixed;
    margin: 20px;
    bottom: 5%;
    background-color: rgb(145, 144, 144);
    a:link {
      color: orangered;
    }
    a:active {
      color: hotpink;
    }
    a:visited {
      color: rgb(128, 0, 0);
      font-weight: bold;
    } 
  }
 /*because they are all in the animated id does that mean 
i think i need to make a class of animation and a class of images and they are the start and end point of he animation.
 perhaps i could put this animated section in it's own page and import it like i will with colours*/
  .animated{
    width: 90vw;
    height: 7vh;
    background-color: white;
    font-size: 1em;
    border: 10px solid rgb(128, 0, 0);
    color: yellow;
    position: inline-block;
    /*top: 20vh;
    left: 20vw; these 2 commands are being overwritten by something.*/
    transition-property: width, height, background-color, font-size;
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
    img {
      display: none;
    }
    #contactInfo{
      display: none;
    }
  }
/*use display none to hide the paragraphs and images until clicked on?*/
/*need to get rid of hover on mobile replace with focus*/
    .animated:focus-within {
      width: 90vw;
      height: 50vh;
      display: block;
      font-size: 1.5em;
      background-color: rgb(10, 155, 5);
      img {
        display: inline;
      }
      .contactInfo{
        display: inline;
      }
    }


    // #home-animation {

    // }
}

// nav.fixed {
//   position: fixed;
//   bottom: 0;
//   right: 0;
//   width: 300px;
//   border: 3px solid #73AD21;
// }

footer {
  img {
  display: inline-block;
  height: 50px;
  }
}